body{
    background-image: url("./1.jpg") ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
h1{
    color:#FEFBE7;
    text-decoration: underline;
}
.xx{
    background-color: #E8F9FD;
}